{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
<div class="card mb-3">
  <img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tesla/Model-X/5253/1611841733029/front-left-side-47.jpg?tr=w-456" class="card-img-top" alt="Wild Landscape"/>
  <div class="card-body">
    <h5 class="card-title">Model X</h5>
    <p class="card-text">
      Clean, powerful yet invisible cabin conditioning. Tri-zone temperature controls, ventilated front seats and HEPA filtration come standard.The ultimate focus on driving: no stalks, no shifting. Model X is the best SUV to drive, and the best SUV to be driven in.Model X offers a spacious cabin with the world's largest panoramic windshield and seating for up to seven.
    </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div>

</body>
</html>

{% endblock content %}